@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>O Crachevent foi criado para que você possa ter a facilidade de criar crachás para o seu evento,</p>
<p>com o Crachevent você pode escolher os modelos que nós da Even3 disponibilizamos, você pode também</p>
<p>colocar todos os nomes de seus participantes de forma simples e rapida, basta apenas copiar e colar</p>
<p>no campo de texto e após esses dois simples passos você poderá baixar todos seus crachás de uma só vez</p>
<b class="text-uppercase"><p>né simples e fácil?</p></b>
<p>Então tá esperando o que? Vem logo fazer os crachás do seu evento...</p>
